@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

body {
    font-family: 'Recursive', sans-serif;
    .jumbotron.bg-dark-v1 {
        background-color: #171823;
        min-height: 100vh;
    }
    .jumbotron.bg-light-v1 {
        background-color: #F9FAFB;
    }
    .jumbotron {
        min-height: 100vh;
        .container.bg-dark-v2 {
            background-color: #242533;
        }
        .container {
            background-color: #FFFFFF;
            .row {
                .col {
                    table.table-dark-v1 {
                        --bs-table-bg: #242533;
                        --bs-table-border-color: #242533;
                    }
                }
            }
            .game {
                .item-rps.bg-dark-v1 {
                    background-color: #242533;
                }
                .item-rps {
                    button.btn-light-theme {
                        --bs-btn-bg: #08956E;
                        --bs-btn-border-color: #08956E;
                        --bs-btn-hover-bg: #1d8567;
                        --bs-btn-hover-border-color: #1d8567;
                        --bs-btn-active-color: #1d8567;
                        --bs-btn-active-bg: #1d8567;
                        --bs-btn-active-border-color: #1d8567;
                    }
                    button {
                        height: 3rem;
                        width: 6rem;
                    }
                }
                .rock {
                    background-color: white;
                    padding-bottom: 10px;
                    height: 15rem;
                    width: 15rem;
                    .image-rock {
                        height: 7rem;
                        width: 7rem;
                    }
                }
                .paper {
                    background-color: white;
                    padding-bottom: 10px;
                    height: 15rem;
                    width: 15rem;
                    .image-paper {
                        height: 7rem;
                        width: 7rem;
                    }
                }
                .scissors {
                    background-color: white;
                    padding-bottom: 10px;
                    height: 15rem;
                    width: 15rem;
                    .image-scissors {
                        height: 7rem;
                        width: 7rem;
                    }
                }
            }
        }
    }
}